@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main{
    height: 100vh;
    position: relative;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.telefone{ 
    position: absolute;

    top: 50%;
    left: 50%;

    height: 627px;
    width: 311px;
    transform: translate(-50%, -50%);

    background: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    
}



